  #ip:hover{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }
  #ppl:hover{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }
  #ip:hover{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }
  #thaimusic:hover{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }
  #aid:hover{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }
  #cloud:hover{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }
  #web:hover{
    color: dodgerblue;
    text-decoration: underline;
    cursor: pointer;
  }
  .tf{
    font-family: 'Kanit', sans-serif;
  }
  #message{
      font-size: 20px;
      margin-left: 1rem;
  }
  .move{
    text-align: center;
    margin-right: 5em;
    margin-top: 0rem;
  }
  #site-footer{
      bottom: 0;
      text-align: center;
  }